* {
	margin: 0;
	padding: 0;
}

:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}

button {
	background-color: lightgray;
	box-shadow: 2px 2px 3px gray;
	width: 3.5em;
	height: 3.5em;
	font-size: 2em;
	font-weight: bolder;
	margin: 0.125em;
	transition: transform 0.3s ease-in-out;
}

button:hover {
	transform: scale(1.05);
}

#winner {
	font-size: 3em;
	text-align: center;
	margin: 0.4em;
}